.index {
    background-color: black;

    .start {
        color: #fed136;
        font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
        font-size: 22px;
        float: left;
        padding: 5px;
    }
}
